{% extends 'base.html' %}
{% block content %}


<form action="display">
    Enter the firstname:<input type='text' name='Firstname'><br>
    Enter the lastname:<input type='text' name='Lastname'><br>
    Enter the DOB:<input type='text' name='Dateofbirth'><br>
    Enter the Gender:<input type='text' name='Gen'><br>
    Enter the nationality:<input type='text' name='nation'><br>
    Enter the Currentcity:<input type='text' name='city'><br>
    Enter the state:<input type='text' name='state'><br>
    Enter the pincode:<input type='text' name='pin'><br>
    Enter the Qualification:<input type='text' name='qualify'><br>
    Enter the salary:<input type='text' name='salary'><br>
    Enter the pan_card:<input type='text' name='pan'><br>
    <input type='submit'>
</form>

{% endblock %}
